@{
    ViewData["Title"] = "Home Page";
}

<h1>Структура курсов</h1>

<div class="filter-container">
    <div class="filter-group">
        <label for="subject">Предмет:</label>
        <input type="text" id="subject">

        <label for="grade">Класс:</label>
        <input type="text" id="grade">

        <label for="grade">Жанр:</label>
        <input type="text" id="genre">

        <button onclick="getFilterValues()">Применить фильтр</button>
    </div>
</div>


<div id="coursesContainer"></div>
